In [1]:
import plotly.graph_objects as go
import pandas as pd
import yfinance as yf

ModuleNotFoundError: No module named 'yfinance'

In [1]:
msft = yf.Ticker("MSFT")
df = msft.history(period="max")

NameError: name 'yf' is not defined

In [10]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1031788800,0.0,0.0
1986-03-14,0.062055,0.065379,0.062055,0.064271,308160000,0.0,0.0
1986-03-17,0.064271,0.065933,0.064271,0.065379,133171200,0.0,0.0
1986-03-18,0.065379,0.065933,0.063163,0.063717,67766400,0.0,0.0
1986-03-19,0.063717,0.064271,0.062055,0.062609,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-11-09,224.440002,228.119995,217.880005,218.389999,44395000,0.0,0.0
2020-11-10,214.500000,216.500000,209.720001,211.009995,44045100,0.0,0.0
2020-11-11,212.389999,218.039993,212.199997,216.550003,29440800,0.0,0.0
2020-11-12,217.210007,219.110001,214.460007,215.440002,21593900,0.0,0.0
2020-11-13,216.360001,217.419998,214.160004,216.509995,18621100,0.0,0.0

In [11]:
fig = go.Figure(data=go.Ohlc(x=df['Date'],
                    open=df['Open'],
                    high=df['High'],
                    low=df['Low'],
                    close=df['Close']))

NameError: name 'go' is not defined

In [ ]:
fig.show()