In [1]:
from datetime import date, timedelta

today = date.today()
past7days = today - timedelta(days=7)

In [2]:
import pandas as pd
import pandas_datareader as pdr

stock_code = 'HKEX/00001'

start_date = past7days
end_date = today

df = pdr.DataReader(stock_code, 'quandl', start_date, end_date)
display(df)

Empty DataFrame
Columns: [NominalPrice, NetChange, Change, Bid, Ask, PEx, High, Low, PreviousClose, ShareVolume000, Turnover000, LotSize]
Index: []

In [3]:
display(df.iloc[0])

IndexError: single positional indexer is out-of-bounds

In [9]:
from datetime import date
from stocks import stock_profile

stocks = stock_profile()
stocks.loadJsonProfile('./stocks.json')
tickers = stocks.getAllStockCodes()
stocks.cacheFromQuandl(tickers, date(2021,1,1), date(2021,7,5))

港交所(0388.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,455.6,NaN,NaN,455.6,455.8,NaN,462.0,454.0,455.8,4305.0,1964778.0,NaN
2021-07-02,455.8,NaN,NaN,455.6,455.8,NaN,463.8,454.4,462.8,5813.0,2653112.0,NaN
2021-06-30,462.8,NaN,NaN,462.8,463.4,NaN,470.0,461.0,468.6,2364.0,1097253.0,NaN
2021-06-29,468.6,NaN,NaN,468.6,468.8,NaN,479.0,467.0,473.8,3376.0,1596171.0,NaN
2021-06-28,473.8,NaN,NaN,473.6,473.8,NaN,476.6,471.0,473.6,1986.0,941617.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,452.0,NaN,NaN,451.8,452.0,NaN,464.4,445.6,443.0,10272.0,4647146.0,NaN
2021-01-07,443.0,NaN,NaN,443.0,443.2,NaN,459.8,443.0,449.0,5704.0,2562595.0,NaN
2021-01-06,449.0,NaN,NaN,449.0,450.0,NaN,459.0,448.4,457.0,5334.0,2409988.0,NaN
2021-01-05,457.0,NaN,NaN,456.4,457.0,NaN,460.0,440.6,441.8,7688.0,3487151.0,NaN
2021-01-04,441.8,NaN,NaN,441.0,441.8,NaN,441.8,424.4,425.0,5016.0,2193132.0,NaN

騰訊(0700.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,554.0,NaN,NaN,553.5,554.0,NaN,572.0,548.5,574.5,43338.0,24111867.0,NaN
2021-07-02,574.5,NaN,NaN,574.0,574.5,NaN,598.5,572.5,584.0,24939.0,14455214.0,NaN
2021-06-30,584.0,NaN,NaN,584.0,584.5,NaN,597.5,584.0,590.5,13618.0,8009048.0,NaN
2021-06-29,590.5,NaN,NaN,590.0,590.5,NaN,601.0,588.0,595.5,14714.0,8719406.0,NaN
2021-06-28,595.5,NaN,NaN,595.0,595.5,NaN,606.0,592.0,598.5,11486.0,6841164.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,573.0,NaN,NaN,572.5,573.0,NaN,578.0,567.5,568.5,22864.0,13114406.0,NaN
2021-01-07,568.5,NaN,NaN,568.5,569.0,NaN,584.5,568.5,596.5,39878.0,22909264.0,NaN
2021-01-06,596.5,NaN,NaN,596.0,596.5,NaN,599.0,585.0,583.5,25713.0,15288562.0,NaN
2021-01-05,583.5,NaN,NaN,583.0,583.5,NaN,586.5,565.5,572.5,18668.0,10816494.0,NaN
2021-01-04,572.5,NaN,NaN,572.5,574.5,NaN,583.0,557.5,564.0,20784.0,11968673.0,NaN

中石油(0857.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,3.85,NaN,NaN,3.84,3.85,NaN,3.91,3.80,3.79,166603.0,643060.0,NaN
2021-07-02,3.79,NaN,NaN,3.79,3.80,NaN,3.96,3.76,3.78,422164.0,1629595.0,NaN
2021-06-30,3.78,NaN,NaN,3.77,3.78,NaN,3.79,3.67,3.70,186179.0,699596.0,NaN
2021-06-29,3.70,NaN,NaN,3.70,3.71,NaN,3.81,3.67,3.86,245747.0,914860.0,NaN
2021-06-28,3.86,NaN,NaN,3.86,3.87,NaN,3.91,3.81,3.91,98777.0,381305.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-14,2.59,NaN,NaN,2.59,2.60,NaN,2.63,2.57,2.59,166496.0,432210.0,NaN
2021-01-13,2.59,NaN,NaN,2.58,2.59,NaN,2.61,2.48,2.48,260896.0,674503.0,NaN
2021-01-12,2.48,NaN,NaN,2.47,2.48,NaN,2.49,2.43,2.45,103004.0,252921.0,NaN
2021-01-11,2.45,NaN,NaN,2.44,2.45,NaN,2.45,2.40,2.41,115542.0,280823.0,NaN
2021-01-08,2.41,NaN,NaN,2.41,2.42,NaN,2.46,2.38,2.45,151651.0,366225.0,NaN

中海油(0883.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,8.99,NaN,NaN,8.99,9.00,NaN,9.10,8.89,8.92,86987.0,781251.0,NaN
2021-07-02,8.92,NaN,NaN,8.91,8.92,NaN,9.12,8.88,8.83,133206.0,1199104.0,NaN
2021-06-30,8.83,NaN,NaN,8.83,8.85,NaN,9.03,8.81,8.83,68328.0,607848.0,NaN
2021-06-29,8.83,NaN,NaN,8.83,8.84,NaN,9.08,8.83,9.09,132343.0,1181045.0,NaN
2021-06-28,9.09,NaN,NaN,9.09,9.10,NaN,9.30,9.05,9.20,85579.0,785014.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,7.12,NaN,NaN,7.11,7.12,NaN,7.24,6.90,7.25,394932.0,2806557.0,NaN
2021-01-07,7.25,NaN,NaN,7.24,7.25,NaN,7.32,7.15,7.36,368323.0,2660296.0,NaN
2021-01-06,7.36,NaN,NaN,7.35,7.36,NaN,7.50,7.08,7.06,451567.0,3321306.0,NaN
2021-01-05,7.06,NaN,NaN,7.06,7.07,NaN,7.25,6.80,7.05,624375.0,4394377.0,NaN
2021-01-04,7.05,NaN,NaN,7.05,7.06,NaN,7.12,6.77,7.18,454218.0,3166783.0,NaN

建設銀行(0939.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,6.12,NaN,NaN,6.11,6.12,NaN,6.15,6.07,6.07,188648.0,1155594.0,NaN
2021-07-02,6.07,NaN,NaN,6.07,6.08,NaN,6.13,6.06,6.11,334208.0,2034806.0,NaN
2021-06-30,6.11,NaN,NaN,6.11,6.12,NaN,6.16,6.11,6.11,226496.0,1386796.0,NaN
2021-06-29,6.11,NaN,NaN,6.11,6.12,NaN,6.17,6.11,6.16,294848.0,1806147.0,NaN
2021-06-28,6.16,NaN,NaN,6.16,6.17,NaN,6.22,6.14,6.20,155593.0,959025.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,5.93,NaN,NaN,5.93,5.94,NaN,5.98,5.78,5.88,424476.0,2512221.0,NaN
2021-01-07,5.88,NaN,NaN,5.87,5.88,NaN,5.95,5.81,5.76,312948.0,1839493.0,NaN
2021-01-06,5.76,NaN,NaN,5.75,5.76,NaN,5.77,5.66,5.75,280574.0,1602881.0,NaN
2021-01-05,5.75,NaN,NaN,5.74,5.75,NaN,5.78,5.71,5.77,221592.0,1273626.0,NaN
2021-01-04,5.77,NaN,NaN,5.77,5.78,NaN,5.84,5.71,5.89,318204.0,1831937.0,NaN

中國移動(0941.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,48.00,NaN,NaN,47.95,48.00,NaN,48.40,47.85,47.85,20714.0,996382.0,NaN
2021-07-02,47.85,NaN,NaN,47.85,47.90,NaN,48.40,47.85,48.55,31572.0,1515763.0,NaN
2021-06-30,48.55,NaN,NaN,48.55,48.60,NaN,49.00,48.55,49.00,19128.0,931231.0,NaN
2021-06-29,49.00,NaN,NaN,49.00,49.05,NaN,49.70,48.90,49.60,18914.0,929565.0,NaN
2021-06-28,49.60,NaN,NaN,49.60,49.65,NaN,50.05,49.25,49.50,24241.0,1206668.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,41.50,NaN,NaN,41.50,41.55,NaN,42.50,39.00,43.30,1078583.0,44155211.0,NaN
2021-01-07,43.30,NaN,NaN,43.30,43.35,NaN,44.35,43.10,46.65,358371.0,15619944.0,NaN
2021-01-06,46.65,NaN,NaN,46.65,46.70,NaN,47.45,45.10,46.10,97525.0,4515203.0,NaN
2021-01-05,46.10,NaN,NaN,46.05,46.10,NaN,47.55,42.40,43.85,225017.0,10246501.0,NaN
2021-01-04,43.85,NaN,NaN,43.85,43.90,NaN,44.80,42.20,44.20,159056.0,6840133.0,NaN

比亞迪股份(1211.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,232.2,NaN,NaN,232.0,232.2,NaN,234.6,217.4,221.2,8322.0,1923108.0,NaN
2021-07-02,221.2,NaN,NaN,221.0,221.2,NaN,226.0,216.0,232.2,12138.0,2684327.0,NaN
2021-06-30,232.2,NaN,NaN,232.2,232.4,NaN,238.2,228.0,236.6,8421.0,1954593.0,NaN
2021-06-29,236.6,NaN,NaN,236.2,236.6,NaN,240.0,232.2,234.8,9056.0,2137481.0,NaN
2021-06-28,234.8,NaN,NaN,234.8,235.0,NaN,236.0,231.0,229.0,5356.0,1253979.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,240.2,NaN,NaN,240.0,240.2,NaN,248.0,235.0,235.2,11179.0,2695031.0,NaN
2021-01-07,235.2,NaN,NaN,235.0,235.2,NaN,236.8,224.0,223.6,10692.0,2481994.0,NaN
2021-01-06,223.6,NaN,NaN,223.4,223.6,NaN,237.8,218.2,229.6,14547.0,3274979.0,NaN
2021-01-05,229.6,NaN,NaN,229.0,229.6,NaN,235.0,218.6,223.2,14485.0,3326765.0,NaN
2021-01-04,223.2,NaN,NaN,223.2,223.4,NaN,224.6,198.0,203.2,17766.0,3847586.0,NaN

小米(1810.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,25.95,NaN,NaN,25.90,25.95,NaN,26.45,25.65,26.20,121293.0,3136035.0,NaN
2021-07-02,26.20,NaN,NaN,26.15,26.20,NaN,27.00,25.95,27.00,134959.0,3530458.0,NaN
2021-06-30,27.00,NaN,NaN,27.00,27.05,NaN,27.65,26.85,27.45,72208.0,1955152.0,NaN
2021-06-29,27.45,NaN,NaN,27.40,27.45,NaN,28.05,27.20,27.70,83576.0,2293226.0,NaN
2021-06-28,27.70,NaN,NaN,27.70,27.75,NaN,28.00,27.40,27.80,44528.0,1232014.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,31.95,NaN,NaN,31.90,31.95,NaN,33.40,31.55,32.00,228943.0,7410168.0,NaN
2021-01-07,32.00,NaN,NaN,32.00,32.05,NaN,34.15,31.35,33.90,342464.0,10952310.0,NaN
2021-01-06,33.90,NaN,NaN,33.85,33.90,NaN,35.70,32.80,35.30,331793.0,11177238.0,NaN
2021-01-05,35.30,NaN,NaN,35.25,35.30,NaN,35.90,34.35,35.25,172279.0,6052687.0,NaN
2021-01-04,35.25,NaN,NaN,35.20,35.25,NaN,35.40,33.25,33.20,231688.0,8037788.0,NaN

舜宇光學(2382.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,242.6,NaN,NaN,242.4,242.6,NaN,246.0,231.6,236.6,5849.0,1413410.0,NaN
2021-07-02,236.6,NaN,NaN,236.6,236.8,NaN,244.8,230.0,245.4,7451.0,1754328.0,NaN
2021-06-30,245.4,NaN,NaN,245.2,245.4,NaN,247.6,240.0,243.2,3640.0,890052.0,NaN
2021-06-29,243.2,NaN,NaN,243.0,243.2,NaN,246.2,240.0,241.8,3647.0,887728.0,NaN
2021-06-28,241.8,NaN,NaN,241.6,241.8,NaN,242.4,227.0,236.0,3065.0,735621.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-08,189.1,NaN,NaN,189.0,189.1,NaN,191.6,180.0,181.7,7290.0,1372360.0,NaN
2021-01-07,181.7,NaN,NaN,181.6,181.7,NaN,182.6,176.1,181.5,5279.0,948649.0,NaN
2021-01-06,181.5,NaN,NaN,181.2,181.5,NaN,187.9,178.7,181.1,8448.0,1546237.0,NaN
2021-01-05,181.1,NaN,NaN,181.0,181.1,NaN,183.4,172.8,177.0,8055.0,1444627.0,NaN
2021-01-04,177.0,NaN,NaN,177.0,177.1,NaN,182.8,167.4,169.7,9092.0,1618405.0,NaN

In [10]:
import yfinance as yf

ticker = yf.Ticker("0001.hk")
ticker.history(period='1day')

ModuleNotFoundError: No module named 'yfinance'

In [11]:
import pandas as pd
import pandas_market_calendars as mcal

# Create a calendar
hkex = mcal.get_calendar('HKEX')

ModuleNotFoundError: No module named 'pandas_market_calendars'